{% extends 'base.twig' %}
{% block main %}
    <div class="ui very padded raised segment">
        {% include 'components/segment-header.twig' with {
            'segment_title': 'Forgot Password',
            'subtitle': '<p> We will send you an email containing a password reset URL.</p>'
        } %}
        <form class="ui form" method="post" action="{{ site_url('forgot/send') }}">
            <input type="hidden" name="_csrf" value="{{ csrf() }}">
            <div class="field">
                <label for="email">Email</label>
                <input type="text" name="email" id="email" placeholder="Email" required minlength="4" maxlength="70" value="{{ form_values('email') }}">
            </div>
            <button class="ui positive button" type="submit">Submit</button>
        </form>
    </div>
{% endblock main %}
{% block page_specific_scripts %}
    {% include 'components/toast.twig' with {'key': 'forgot'} %}
{% endblock page_specific_scripts %}