@font-face {
    font-family: "Roboto";
    src: url("./fonts/Roboto/Roboto-Regular.ttf")
}

body {
    background-color: #ffffff;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: grayscale;
    min-height: 100vh;
}

main {
    margin-top: 4em;
}

h1, h2, h3, h4, h5, .ui.items > .item > .content > .header {
    font-family: "URW Gothic", Roboto, Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

div + div div.ui.single-post {
    margin-top: 3em !important;
}

.ui.single-post {
    margin: 3em 0;
    font-size: 1.14285714rem;
}

div[data-tab="active-posts"] > div:nth-child(1) > div:nth-child(1) {
    margin-top: 2em !important;
}

.ui.divided.items > .item {
    padding: 1.4em 0;
}

.emoji {
    display: inline-block;
    font-size: 1em !important;
    float: none;
    margin: 0 0.75em 0 0 !important;
}

.main.container {
    margin-top: 1em;
}

.main.menu {
    margin-top: 3em;
    border-radius: 0;
    border: none;
    box-shadow: none;
    transition: box-shadow 0.5s ease, padding 0.5s ease;
}

.main.menu.fixed {
    background-color: #ffffff;
    border: 1px solid #ddd;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.ui.footer.segment {
    margin: 12em 0 0;
    padding: 3em 0 2em 0;
    position: sticky;
    bottom: 0;
    top: calc( 100vh - 100px );
}

.featured-content {
    font-size: 1em;
}

.post-content {
    font-size: 1.2em;
    line-height: 1.4285em;
    color: rgba(0, 0, 0, 0.87);
    /*white-space: pre-wrap;*/
}

.featured-footer.extra {
    display: block;
    position: relative;
    background: none;
    margin: 0.5rem 0 0;
    width: 100%;
    padding: 0 0 0;
    top: 0;
    left: 0;
    color: rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: color 0.1s ease;
    transition: color 0.1s ease;
    border-top: none;
}

.featured-footer.extra::after {
    display: block;
    content: ' ';
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}

a.item.tab-item::after {
    content: '>';
    margin-left: 14px;
}

a.item.tab-item:last-of-type::after {
    content: '';
    margin-left: 0;
}

@media (max-width: 640px) {
    .very.padded.segment {
        padding-left: 1.8em;
        padding-right: 1.8em;
    }

    .featured-content {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}

@media (max-width: 1024px) {
    .ui.left.rail.rail-profile {
        position: relative;
        right: 0;
        left: 0;
        margin: 0 auto 2em auto;
    }
}

.profile-menu {
    margin-top: 0 !important;
}