@font-face {
    font-family: "Roboto";
    src: url("./fonts/Roboto/Roboto-Regular.ttf")
}

body {
    background-color: #ffffff;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: grayscale;
    min-height: 100vh;
}

h1, h2, h3, h4, h5, .ui.items > .item > .content > .header {
    font-family: "URW Gothic", Roboto, Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

section.ui.posts-section {
    margin: 3em 0;
    font-size: 1.14285714rem;
}

.ui.divided.items > .item {
    padding: 1.4em 0;
}

.emoji {
    display: inline-block;
    font-size: 1em !important;
    float: none;
    margin: 0 0.75em 0 0 !important;
}

.main.container {
    margin-top: 1em;
}

.main.menu {
    margin-top: 3em;
    border-radius: 0;
    border: none;
    box-shadow: none;
    transition: box-shadow 0.5s ease, padding 0.5s ease;
}

.main.menu.fixed {
    background-color: #ffffff;
    border: 1px solid #ddd;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.ui.footer.segment {
    margin: 12em 0 0;
    padding: 3em 0 2em 0;
    position: sticky;
    bottom: 0;
    top: calc( 100vh - 100px );
}

.featured-content {
    font-size: 1em;
}

.featured-description {
    font-size: 1.2em;
    line-height: 1.4285em;
    color: rgba(0, 0, 0, 0.87);
}

.featured-footer.extra {
    display: block;
    position: relative;
    background: none;
    margin: 0.5rem 0 0;
    width: 100%;
    padding: 0 0 0;
    top: 0;
    left: 0;
    color: rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: color 0.1s ease;
    transition: color 0.1s ease;
    border-top: none;
}

.featured-footer.extra::after {
    display: block;
    content: ' ';
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}

