<div class="ui float right dropdown item">
    <i class="hamburger icon"></i> <i class="dropdown icon"></i>
    <div class="menu">
        <div class="item">
            {#                                <i class="user icon"></i> #}
            <em data-emoji=":frog:" class="emoji"></em>
            Nicko Gamba
        </div>
        <a class="item" href="{{ site_url('login') }}">
            <i class="key icon"></i>
            {#            <em data-emoji=":wave:" class="emoji"></em> #}
            Login
        </a>
        <a class="item" href="{{ site_url('register') }}">
            <i class="signup icon"></i>
            {#                    <em data-emoji=":no_entry:" class="emoji"></em> #}
            {#            <em data-emoji=":white_check_mark:" class="emoji"></em> #}
            Register
        </a>
        <div class="divider"></div>
        <div class="header">Settings</div>
        <div class="item">
            <i class="moon icon"></i>
            {#            <em data-emoji=":full_moon:" class="emoji"></em> #}
            Dark mode
        </div>
    </div>
</div>