<div class="ui inverted footer segment">
    <div class="ui left aligned text container">
        <div class="ui text inverted">
            <img class="ui mini image" src="{{ load_asset('assets/images/waddup.svg') }}" alt="Waddup logo">
            <h4 class="ui inverted header">Waddup</h4>
            <p class="">
                <small>Developed by Nicko Gamba</small>
            </p>
        </div>
    </div>
</div>