<div class="ui borderless main menu">
    <div class="ui text container">
        <div class="ui large header item">
            <h1>
                <a href="{{ site_url() }}">{{ app|capitalize }}</a>
            </h1>
        </div>
        {% include 'includes/dropdown-menu.twig' %}
    </div>
</div>