<div class="ui very wide right sidebar">
    <div class="ui very padded segment" style="height: 100%">
        <div class="mb-24 with-popup" data-content="Close">
            <button class="ui right floated icon circular button" id="close-sidebar">
                <i class="times icon"></i>
            </button>
        </div>
        <div class="ui feed">
            <div class="event">
                <div class="label">
                    <img src="{{ load_placeholder() }}">
                </div>
                <div class="content">
                    <div class="summary">
                        <a>Joe Henderson</a> posted on his page
                        <div class="date">
                            3 days ago
                        </div>
                    </div>
                    <div class="extra text">
                        Ours is a life of constant reruns. We're always circling back to where we'd we started, then starting all over again. Even if we don't run extra laps that day, we surely will come back for more of the same another day soon.
                    </div>
                    <div class="meta">
                        <a class="like">
                            <i class="like icon"></i> 5 Likes
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>