<div class="mb-4">
    <header class="ui medium header">
        <h2>{{ segment_title }}</h2>
    </header>
    {% if subtitle is defined %}
        {% autoescape false %}
            {{ subtitle }}
        {% endautoescape %}
    {% endif %}
</div>